
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

nav p {
    letter-spacing: 1rem;
    font-family: Arial, sans-serif;
}

.filter-buttons ul {
    display: flex;
    gap: 1rem;
    position: relative;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0rem;
    left: 0;
    background-color: var(--red);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.dropdown-content.show {
    max-height: 400px;
    opacity: 1;
    padding-left: 2rem;
}

.dropdown-content li {
    margin: 0.5rem 0;
}

.filter-buttons button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filter-buttons button:hover {
    transform: scale(1.05);
}
.nav-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    letter-spacing: 0.75rem;
}

.nav-link:hover {
    color: #dc1c26;
}

.nav-link:active {
    color: #2c91a8;
}

.portfolio-container {
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.image-item {
    overflow: hidden;
    border-radius: 2px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.image-item:hover {
    cursor: pointer;
}

.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.image-overlay img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 4; /* Ensure it is above the overlay */
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;  
    text-align: center;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.4);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-link {
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}

.instagram-link:hover {
    color: #E1306C;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.image-item img {
    opacity: 0;
    animation: fadeIn 1s forwards;
    transition: transform 0.3s ease;
}

.image-item img.loaded {
    opacity: 1;
}

.image-item:hover img {
    transform: scale(1.05);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.4);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-link {
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}

.instagram-link:hover {
    color: #dc1c26;
}

.instagram-link:active {
    color: #2c91a8;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
        nav p {
                margin-right: auto;
                display: inline;
                letter-spacing: 1rem;
            }

    .dropdown-content {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 0.5rem;
        flex-wrap: nowrap;
        white-space: nowrap;
        letter-spacing: 0.5rem;
    }

    .dropdown-content li {
        margin: 0.5rem 0;
        letter-spacing: 0.5rem;
    }
}